/**************************************/
/********* NAVIGATION SECTION *********/
/**************************************/

.header {
  padding: 0 9rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-bar-height);
}

.nav__logo {
  height: 4.8rem;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.nav__link:link,
.nav__link:visited {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 1.8rem;
  font-weight: 400;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  background-color: var(--color-primary);
  padding: 0.8rem 2.4rem;
  border-radius: 50px;
}
/**************************************/
/************ HERO SECTION ************/
/**************************************/

.section__hero {
  display: flex;
  justify-content: center;
  height: calc(100vh - var(--nav-bar-height));
}

.hero__container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  max-width: 115rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
}

.heading__primary {
  font-size: 5.4rem;
  line-height: 1.4;
}

.highlight {
  display: inline-block;
  position: relative;
}

.highlight::after {
  content: "";
  background: var(--gradient-primary);
  transform: scale(1.07, 1.05) skew(-15deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

.hero__description {
  font-size: 2.4rem;
  font-weight: 500;
}

.btn__text {
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  background: none;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
}

.hero__img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
}

/**************************************/
/********** FEATURES SECTION **********/
/**************************************/

.section__header {
  max-width: 80rem;
  margin: 0 auto 8rem;
}

.section__title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__description {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.3;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 0 12rem;
}

.features__img {
  width: 100%;
}

.features__info {
  font-size: 1.5rem;
  width: 70%;
  align-self: center;
  justify-self: center;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-opacity);
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  margin-bottom: 2rem;
}

.features__icon svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--color-primary);
}

.features__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/**************************************/
/********* OPERATIONS SECTION *********/
/**************************************/

.margin-bottom--lge {
  margin-bottom: 12rem;
}

.operations {
  width: 100rem;
  margin: 0 auto;
  background-color: #fff;
}

.operations__tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.btn {
  display: inline-block;
  border: none;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1.2rem 4.6rem;
  background-color: var(--color-primary);
  border-radius: 50px;
  font-weight: 500;
}

.operations__tab {
  transform: translateY(-50%);
}

.operations__tab span {
  display: inline-block;
  margin-right: 0.5rem;
  font-weight: 600;
}

.operations__tab--1 {
  background-color: var(--color-secondary);
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
}

.operations__tab--active {
  transform: translateY(-66%);
}

.operations__content {
  display: none;
  grid-template-columns: 7rem 1fr;
  font-size: 1.7rem;
  padding: 2.5rem 7rem 7rem;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.operations__content--active {
  display: grid;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.operations__icon svg {
  width: 2.6rem;
  height: 2.6rem;
}

.operations__icon--1 {
  background-color: var(--color-secondary-opacity);
}

.operations__icon--1 svg {
  fill: var(--color-secondary-darker);
}

.operations__icon--2 {
  background-color: var(--color-primary-opacity);
}

.operations__icon--2 svg {
  fill: var(--color-primary-darker);
}

.operations__icon--3 {
  background-color: var(--color-tertiary-opacity);
}

.operations__icon--3 svg {
  fill: var(--color-tertiary-darker);
}

.operations__heading {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}

.operations__content p {
  grid-column: 2;
}

/***************************************/
/******** TESTIMONIALS SECTION *********/
/***************************************/

.slider {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  column-gap: 7.5rem;
  row-gap: 5.5rem;
  align-items: center;
  justify-items: center;
  align-content: center;
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem 0 2.5rem;
}

.slide {
  grid-column: 2 / 3;
}

.slide--1 {
  display: block;
}

.slide--2,
.slide--3 {
  display: none;
}

.testimonial {
  position: relative;
}

.testimonial::before {
  content: "\201C";
  font-size: 20rem;
  color: var(--color-primary);
  position: absolute;
  top: 37px;
  left: -68px;
  line-height: 1rem;
}

.testimonial__heading {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
}

.testimonial__author {
  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
  font-style: normal;
  margin-left: 3rem;
}

.testimonial__photo {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  grid-row: 1 / span 2;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
}

.testimonial__location {
  font-size: 1.5rem;
}

.slider__btn {
  border: none;
  background-color: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  font-size: 3rem;
  font-weight: 300;
  font-family: inherit;
  grid-row: 1 / 2;
}

.slider__btn--left {
  grid-column: 1 / 2;
}

.slider__btn--right {
  grid-column: 3 / 4;
}

.dots {
  grid-column: 2 / 3;
  display: flex;
  gap: 1.8rem;
}

.dots__dot {
  width: 1rem;
  height: 1rem;
  background-color: #b9b9b9;
  border: none;
  border-radius: 50%;
}

/**************************************/
/********** SIGN-UP SECTION ***********/
/**************************************/

.section__sign-up {
  background-color: #37383d;
  text-align: center;
  padding: 10rem 3rem;
}

.section__sign-up .section__header {
  margin-bottom: 6rem;
}

.section__sign-up .section__description {
  color: #fff;
}

.section__sign-up .btn {
  padding: 2rem 5rem;
  font-size: 1.9rem;
}
