/************************************/
/********** SHARED STYLES ***********/
/************************************/

.features__title,
.modal__heading {
  font-weight: 700;
}

.features__icon,
.operations__icon--2 {
  background-color: var(--color-primary-opacity);
}

.operations,
.slider__btn {
  background-color: #fff;
}

.section__sign-up,
.footer {
  background-color: #37383d;
}

.features__icon,
.operations__icon,
.testimonial__photo,
.slider__btn,
.dots__dot {
  border-radius: 50%;
}

.link__text:link,
.link__text:visited,
.testimonial::before {
  color: var(--color-primary);
}

.hero__img,
.features__img {
  width: 100%;
}

.operations,
.slider {
  margin: 0 auto;
}

.testimonial::before,
.btn__close-modal {
  position: absolute;
}

.modal,
.overlay {
  position: fixed;
}

/**************************************/
/********* NAVIGATION SECTION *********/
/**************************************/

.header {
  padding: 0 9rem;
}

.nav {
  justify-content: space-between;
  height: var(--nav-bar-height);
  transition: all 1s;
}

.nav__logo {
  height: 4.8rem;
}

.nav .nav__link:link,
.nav .nav__link:visited {
  font-weight: 400;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  background-color: var(--color-primary);
  padding: 0.8rem 2.4rem;
  border-radius: 50px;
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  background-color: var(--color-primary-darker);
}

/**************************************/
/************ HERO SECTION ************/
/**************************************/

.section__hero {
  height: calc(100vh - var(--nav-bar-height));
}

.hero__container {
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  max-width: 115rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
}

.hero__description {
  font-size: 2.4rem;
}

.link__text:link,
.link__text:visited {
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  font-weight: 500;
}

.link__text:hover,
.link__text:active {
  color: var(--color-primary-darker);
}

.hero__img {
  grid-row: 1 / 5;
  transform: translateY(-6rem);
}

/**************************************/
/********** FEATURES SECTION **********/
/**************************************/

.features {
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 0 12rem;
}

.features__info {
  width: 70%;
}

.features__icon {
  width: 5.5rem;
  height: 5.5rem;
  margin-bottom: 2rem;
}

.features__icon svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--color-primary);
}

.features__title {
  margin-bottom: 1rem;
}

/**************************************/
/********* OPERATIONS SECTION *********/
/**************************************/

.operations {
  width: 100rem;
}

.operations__tab-container {
  gap: 2.4rem;
}

.operations__tab {
  transform: translateY(-50%);
}

.operations__tab span {
  display: inline-block;
  margin-right: 0.5rem;
  font-weight: 600;
}

.operations__tab--1 {
  background-color: var(--color-secondary);
}

.operations__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
}

.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
  transform: translateY(-66%);
}

.operations__content {
  display: none;
  padding: 2.5rem 7rem 7rem;
}

.operations__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.operations__icon {
  width: 7rem;
  height: 7rem;
}

.operations__icon svg {
  width: 2.6rem;
  height: 2.6rem;
}

.operations__icon--1 {
  background-color: var(--color-secondary-opacity);
}

.operations__icon--1 svg {
  fill: var(--color-secondary-darker);
}

.operations__icon--2 svg {
  fill: var(--color-primary-darker);
}

.operations__icon--3 {
  background-color: var(--color-tertiary-opacity);
}

.operations__icon--3 svg {
  fill: var(--color-tertiary-darker);
}

/***************************************/
/******** TESTIMONIALS SECTION *********/
/***************************************/

.slider {
  grid-template-columns: 10rem 1fr 10rem;
  column-gap: 7.5rem;
  row-gap: 5.5rem;
  max-width: 100rem;
  padding: 5rem 0 2.5rem;
}

.slide--1 {
  display: block;
}

.slide--2,
.slide--3 {
  display: none;
}

.testimonial {
  position: relative;
}

.testimonial::before {
  content: '\201C';
  font-size: 20rem;
  top: 37px;
  left: -68px;
  line-height: 1rem;
}

.testimonial__heading {
  margin-bottom: 1.5rem;
}

.testimonial__text {
  margin-bottom: 3.5rem;
}

.testimonial__author {
  grid-template-columns: 6.5rem 1fr;
  font-style: normal;
  margin-left: 3rem;
}

.testimonial__photo {
  width: 6.5rem;
  height: 6.5rem;
  grid-row: 1 / 3;
}

.testimonial__name {
  align-self: end;
}

.testimonial__location {
  font-size: 1.5rem;
}

.slider__btn {
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  grid-row: 1 / 2;
}

.slider__btn--left {
  grid-column: 1 / 2;
}

.slider__btn--right {
  grid-column: 3 / 4;
}

.dots {
  gap: 1.8rem;
}

.dots__dot {
  width: 1rem;
  height: 1rem;
  background-color: #b9b9b9;
}

/**************************************/
/********** SIGN-UP SECTION ***********/
/**************************************/

.section__sign-up {
  padding: 10rem 3rem;
  border-bottom: 1px solid #444;
}

.section__sign-up .section__header {
  margin-bottom: 6rem;
}

.section__sign-up .section__description {
  color: #fff;
}

.section__sign-up .btn {
  padding: 2rem 5rem;
  font-size: 1.9rem;
}

/*************************************/
/********** FOOTER SECTION ***********/
/*************************************/

.footer {
  flex-direction: column;
  gap: 5rem;
  padding: 10rem 0;
}

.footer .nav__link:link,
.footer .nav__link:visited {
  font-size: 1.6rem;
}

.footer .nav__link:link,
.footer .nav__link:visited,
.attribution__link:link,
.attribution__link:visited {
  color: #eee;
}

.footer__logo {
  height: 5rem;
}

.footer__copyright,
.footer__attribution {
  color: #aaa;
}

.footer__copyright,
.footer__attribution,
.footer .attribution__link:link,
.footer .attribution__link:visited {
  font-size: 1.4rem;
}

/************************************/
/********** MODAL SECTION ***********/
/************************************/

.modal {
  max-width: 60rem;
  background: #f3f3f3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 6rem 6rem 5rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
}

.btn__close-modal {
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  font-weight: initial;
  color: inherit;
}

.modal__heading {
  font-size: 3.2rem;
  line-height: 1.5;
  margin-bottom: 4.5rem;
}

.modal__form {
  grid-template-columns: 1fr 2fr;
  row-gap: 2.6rem;
  margin: 0 3rem;
}

.modal__form input {
  padding: 1rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.modal__form button {
  grid-column: 1 / 3;
  justify-self: center;
  margin-top: 1rem;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.hidden {
  display: none;
}

/************************************/
/******** JAVASCRIPT STYLES *********/
/************************************/

/* Fix for flexbox gap property missing in some Safari browsers */

.js-no-flexbox-gap .operations__tab:not(:last-child) {
  margin-right: 2.4rem;
}

.js-no-flexbox-gap .dots__dot:not(:last-child) {
  margin-right: 1.8rem;
}

.js-no-flexbox-gap .footer ul {
  margin-bottom: 5rem;
}

.js-no-flexbox-gap .footer__logo {
  margin-bottom: 5rem;
}

/* Styles for sticky navigation bar on page scroll */

.js-sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 20px rgba(66, 48, 48, 0.07);
  z-index: 99;
}

.js-sticky .section__hero {
  margin-top: var(--nav-bar-height);
}

.js-nav-shrink.nav {
  height: 6.4rem;
}
